@import 'styles';

.button {
  font-family: $main-font-family;
  padding-inline: $button-inline-padding;
  padding-block: $button-block-padding;
  border-radius: $button-border-radius;
  border: none;
  inline-size: 100%;
  line-height: 24px;
  max-inline-size: 500px;
  max-block-size: 80px;
  transition: all linear 150ms;

  &:hover:enabled {
    cursor: pointer;
  }

  &:focus-visible {
    outline: none;
  }

  &.primary {
    &.contained {
      background-color: $bg-brand;
      font-weight: $contained-button-font-weigth;
      color: $text-invert;

      &:hover:enabled {
        background-color: $brand-hover;
      }

      &:focus-visible {
        outline: $border-focused-alternative;
      }

      &:disabled {
        background-color: $bg-brand-extra-light;
      }
    }

    &.text {
      background-color: $text-invert;
      font-weight: $text-button-font-weigth;
      color: $text-brand;

      &:hover:enabled {
        background-color: $brand-background-primary;
      }

      &:focus-visible {
        outline: $border-focused-alternative;
      }

      &:disabled {
        color: $brand-light;
        outline: $border-focused-alternative;
      }
    }

    &.link {
      background-color: transparent;
      color: $bg-hover-primary;
      font-weight: $link-button-font-weigth;
      padding: 0;

      span::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: $bg-brand;
        transition: all 0.3s ease;
      }

      &:hover:enabled {
        color: $bg-hover-primary;

        span::after {
          background: $bg-hover-primary;
        }
      }

      &:focus-visible {
        color: $bg-brand;

        span::after {
          background: $bg-brand;
          width: 90%;
          left: 5%;
        }
      }

      &:disabled {
        color: $brand-light;

        span::after {
          background: $brand-light;
        }
      }
    }
  }

  &.secondary {
    background-color: $bg-primary;
    color: $text-secondary;

    &:disabled {
      color: $text-tertiary;
    }

    &.contained {
      outline: $border-light;
      font-weight: $contained-button-font-weigth;

      &:hover:enabled {
        background-color: $bg-tertiary;
      }

      &:focus-visible {
        outline: $border-light;
      }

      &:disabled {
        outline: $border-extra-light;
      }
    }

    &.text {
      font-weight: $text-button-font-weigth;

      &:hover:enabled {
        background-color: $secondary-button-text-hover-bg;
      }

      &:focus-visible {
        outline: $border-light;
      }
    }

    &.link {
      font-weight: $link-button-font-weigth;
      padding: 0;
      background-color: transparent;

      span::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: $text-secondary;
        transition: all 0.3s ease;
      }

      &:hover:enabled {
        color: $text-primary;

        span::after {
          background: $text-primary;
        }
      }

      &:focus-visible {
        color: $text-secondary;

        span::after {
          background: $text-secondary;
          width: 90%;
          left: 5%;
        }
      }

      &:disabled {
        color: $text-tertiary;

        span::after {
          background: $text-tertiary;
        }
      }
    }
  }

  &.tertiary {
    color: $text-quartenery;
    font-weight: $tertiary-link-button-font-weigth;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding: 0;
    background-color: transparent;

    &:hover:enabled {
      color: $text-tertiary;
    }
  }
}
