@import 'styles';

.tabsContainer {
  display: flex;
  flex-direction: column;
  min-inline-size: 330px;
  user-select: none;
  inline-size: 100%;
  display: block;
  background-color: $bg-primary;
}

.tabHeaders {
  display: flex;
  padding: 2px;
  background-color: $bg-secondary;
  border-radius: 16px;
  inline-size: 100%;
  position: absolute;
  top: 70px;
}

.tabButton {
  flex: 1;
  padding: 10px 16px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: #fff;
    color: $text-primary;
  }
}

.tabContent {
  inline-size: 100%;
  position: absolute;
  top: 120px;
}
