@import '../../styles/';

.tabsContainer {
  display: flex;
  flex-direction: column;
  min-inline-size: 330px;
}

.tabHeaders {
  display: flex;
  padding: 2px;
  background-color: $tabs-bg;
  border-radius: 16px;
}

.tabButton {
  flex: 1;
  padding: 10px 16px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: #fff;
    color: $tabs-active-text-color;
  }
}
