@import 'styles';

.dropdownContainer {
  min-inline-size: 320px;
  min-block-size: 90px;
  position: relative;
}

.label {
  line-height: $main-line-height;
  display: block;
  margin-block-end: 5px;
  font-size: 14px;
}

.selectBox {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 12px;
  border: $border-light;
  border-radius: $input-border-radius;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: $bg-secondary;
  }

  &.open {
    background-color: $bg-secondary;
  }
}

.icon {
  margin-right: 5px;
  display: flex;
}

.selectedOption {
  flex-grow: 1;
  color: $text-primary;
}

.placeholder {
  color: $text-tertiary;
}

.arrow {
  margin-left: 10px;
}

.suggestedOptions {
  display: flex;
  gap: 8px;
  margin-top: 5px;
  justify-content: flex-start;
  position: absolute;
  font-size: 14px;
}

.content {
  position: absolute;
}
