$border-light: 1px solid rgba(206, 210, 218, 1);
$border-focused-alternative: 2px solid rgba(204, 224, 255, 1);
$border-extra-light: 1px solid rgba(227, 229, 229, 1);
$border-indicator-focused: 2px solid rgba(76, 148, 255, 1);
$border-indicator-error: 2px solid rgba(246, 76, 76, 1);