$tabs-border-radius: 16px;
$tabs-bg: rgba(243, 244, 246, 1);
$tabs-active-color: rgba(255, 255, 255, 1);
$tabs-active-text-color: rgba(20, 28, 36, 1);
$tabs-inactive-text-color: rgba(99, 112, 131, 1);
