@import 'styles';

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $text-secondary;
}

.buttons {
  display: flex;
  gap: 30px;
  margin-block-start: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px 48px;
  gap: 24px;
  border-radius: 24px;
  border: $border-light;
  opacity: 0px;
  background-color: $bg-primary;
  inline-size: clamp(15.625rem, 9.8684rem + 30.7018vw, 37.5rem);
}

.sms {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-tertiary;
}
