@import 'styles';

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $text-secondary;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px 48px;
  gap: 24px;
  border-radius: 24px;
  border: $border-light;
  opacity: 0px;
  background-color: $bg-primary;
  inline-size: clamp(15.625rem, 9.8684rem + 30.7018vw, 37.5rem);
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $text-tertiary;
}

.status {
  padding-inline-start: 20px;
  position: relative;
}

.status::before {
  content: '';
  inline-size: 8px;
  block-size: 8px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0;
}

.yellow.status::before {
  background-color: rgba(255, 178, 25, 1);
}
.orange.status::before {
  background-color: rgb(255, 105, 25);
}
.gray.status::before {
  background-color: rgb(127, 127, 127);
}
.blue.status::before {
  background-color: rgb(40, 115, 255);
}
.green.status::before {
  background-color: rgb(0, 139, 14);
}

.value {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $text-primary;
}

.buttons {
  display: flex;
  gap: 30px;
  margin-block-start: 30px;
}

.sms {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $text-tertiary;
}
